img{
    padding: 10px;  
    width: 25%;
    margin: 25px;
}

h1{
    font-size: 50px;
    font-style: unset;
    font-family: impact;
    align-content: center;
}

body{
    background-color: bisque;
    font-family: Segoe UI;
}